
<div class="container con">
    <form action="action_page.php">
  <h1>Feedback Form</h1>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="india">India</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="australia">Australia</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div> 
  <div>
    <h4>
    <a routerLink="/chatbox">Live Chat</a>
    </h4>
  </div>
  <div class="row">
  <div class="col-6 book">
    <div class="ct">
    <h1>Toll Free Number</h1>
    
    <h3>+916236354524</h3>
    <h3>+916236354520</h3>
</div>
  </div>

  <div class="col-6 book">
    <div class="ct">
      <h1>Get in Touch With</h1>
      
      <a class="nav-link active icon"  href="http://facebook.com"> <i class='bx bxl-facebook-circle bx-lg'></i></a> 
                        <a class="nav-link active icon"  href="http://meta.com"> <i class='bx bxl-meta bx-lg'></i></a>
    <a class="nav-link active icon" href="http://twitter.com">   <i class='bx bxl-twitter bx-lg'></i></a>
  </div>

  </div>
  </div>